##############################################################################
#
# Aliases Table Description
#
##############################################################################

## inputs
SSM::alias a P::Main/a
SSM::alias b P::Main/b
SSM::alias a1 P::Main/a1
SSM::alias b1 P::Main/b1
SSM::alias a2 P::Main/a2
SSM::alias b2 P::Main/b2
## outputs
SSM::alias v P::Main/v
SSM::alias v1 P::Main/v1
SSM::alias v2 P::Main/v2
