# step 1
SSM::set a 1
SSM::set b 2
SSM::set a1 1.
SSM::set b1 2.
SSM::set a2 t
SSM::set b2 t
SSM::check v 3
SSM::check v1 3. real=1
SSM::check v2 true
SSM::cycle

SSM::set a 3
SSM::set b 4
SSM::set a1 1.
SSM::set b1 2.
SSM::set a2 t
SSM::set b2 f
SSM::check v 3
SSM::check v1 7.02 real=0.01
SSM::check v2 true
SSM::cycle
